.App {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: left;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.App input[type="text"] {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.App li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
  color: rgb(35, 35, 101);
  text-decoration: underline;
}
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}
